/node_modules
/public/hot
/public/updater
/public/storage
/storage/*.key
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.env
/vendor/
/bootstrap/cache/*.php
/storage/framework/views/*.php
/storage/framework/sessions/*
/storage/logs/*
/public/assets/file/*.json
